.background_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44.6rem;
  background-color: bisque;
}

.background_container .startbox_container {
  height: 300px;
  width: 600px;
  background-color: #3e8ed0;
  border-radius: 50px;
  z-index: 999;
  text-decoration: none;
  display: block;
}

.background_container .startbox_container .title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-top: 20px;
}

.background_container .startbox_container .title_container #title {
  font-size: 50px;
  font-weight: 600;
}

.background_container .startbox_container .start_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-top: 30px;
}

.background_container .startbox_container .start_container #start_jumble {
  height: 100px;
  width: 50%;
  border-radius: 50px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.background_container .startbox_container .start_container #start_jumble:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d1b2;
}

.background_container .startbox_container .start_container #start_jumble:active {
  background: yellow;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.background_container .startbox_container .start_container #start_jumble:active:after {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.timer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3e8ed0;
  width: 50rem;
  height: 300px;
  display: none;
}

.timer_section .timer_container {
  height: 300px;
  width: 50rem;
}

.timer_section .timer_container #chooseTimer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.timer_section .timer_container #chooseTimer_container p {
  margin-left: 20px;
  font-size: 50px;
  font-weight: 900;
}

.timer_section .timebutton_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.timer_section .timebutton_container #five-mins {
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}

.timer_section .timebutton_container #five-mins:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d1b2;
}

.timer_section .timebutton_container #five-mins:active {
  background: yellow;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.timer_section .timebutton_container #five-mins:active:after {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.timer_section .timebutton_container #ten-mins {
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 900;
}

.timer_section .timebutton_container #ten-mins:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d1b2;
}

.timer_section .timebutton_container #ten-mins:active {
  background: yellow;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.timer_section .timebutton_container #ten-mins:active:after {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.timer_section .timebutton_container #fifteen-mins {
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: 900;
}

.timer_section .timebutton_container #fifteen-mins:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d1b2;
}

.timer_section .timebutton_container #fifteen-mins:active {
  background: yellow;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.timer_section .timebutton_container #fifteen-mins:active:after {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.game_section {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 0;
  display: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.game_section .alert_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  left: 250px;
  width: 50rem;
  height: 80px;
}

.game_section .alert_container #GuessTheWord {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 25px;
  width: 50rem;
  height: 30px;
  font-size: 50px;
  font-weight: 600;
}

.game_section .alert_container #alert {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  width: 50rem;
  height: 20px;
  bottom: 15px;
  opacity: 1;
}

.game_section .timer_container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 100px;
  right: 50px;
  top: 100px;
  background-color: #3e8ed0;
}

.game_section .timer_container #timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  color: black;
  font-weight: 600;
}

@-webkit-keyframes blinkingBackground {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}

@keyframes blinkingBackground {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}

.game_section .answer_container {
  position: absolute;
  background-color: #3e8ed0;
  border-radius: 50px;
  left: 150px;
  height: 40%;
  width: 65%;
  top: 100px;
}

.game_section .answer_container #answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.game_section .answer_container #answer #ans-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .answer_container #answer #ans-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .answer_container #answer #ans-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .answer_container #answer #ans-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .answer_container #answer #ans-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .answer_container #answer #ans-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container {
  position: absolute;
  background-color: #3e8ed0;
  border-radius: 50px;
  left: 150px;
  height: 25%;
  width: 65%;
  bottom: 125px;
}

.game_section .challenge_container #challenge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.game_section .challenge_container #challenge #chg-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container #challenge #chg-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container #challenge #chg-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container #challenge #chg-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container #challenge #chg-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .challenge_container #challenge #chg-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 90px;
  background-color: white;
  border-radius: 100px;
  padding: 50px;
  margin: 23px;
  font-size: 50px;
}

.game_section .score_container {
  position: absolute;
  background-color: #3e8ed0;
  top: 265px;
  right: 50px;
  width: 250px;
  height: 280px;
}

.game_section .score_container #score {
  position: absolute;
  font-size: 25px;
  width: 250px;
  height: 130px;
}

.game_section .score_container #score #numOfScore {
  margin-top: 20px;
  font-size: 30px;
}

.game_section .score_container #score p {
  font-weight: 700;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game_section .score_container #numberOfGuess {
  position: absolute;
  font-size: 25px;
  top: 148px;
  width: 250px;
  height: 130px;
}

.game_section .score_container #numberOfGuess #numOfGuess {
  margin-top: 20px;
  font-size: 30px;
}

.game_section .score_container #numberOfGuess p {
  font-weight: 700;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeIsUp_container {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: aqua;
  border-radius: 50px;
  top: 130px;
  left: 27rem;
  width: 40rem;
  height: 20rem;
  z-index: 2;
}

.timeIsUp_container #timeIsUp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  height: 100px;
  font-size: 50px;
}

.timeIsUp_container #home_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 80px;
  width: 30rem;
  height: 100px;
}

.timeIsUp_container #home_container #homeBtn {
  display: none;
  border-radius: 50px;
  width: 250px;
  height: 80px;
  font-size: 30px;
  font-weight: 500;
}

.timeIsUp_container #home_container #homeBtn:hover {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #00d1b2;
}

.timeIsUp_container #home_container #homeBtn:active {
  background: yellow;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.timeIsUp_container #home_container #homeBtn:active:after {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
/*# sourceMappingURL=wordJumble.css.map */