.background_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44.6rem;
  background-color: bisque;
  .startbox_container{
    height: 300px;
    width: 600px;
    background-color: #3e8ed0;
    border-radius: 50px;
    z-index:999;
    text-decoration: none;
    display: block; //DISPLAY
    .title_container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 120px;
     margin-top: 20px;
     
  
     #title{
       font-size: 50px;
       font-weight: 600;
     }
    }
    .start_container{
     display: flex;
     height: 100px;
     margin-top: 30px;
      
      #start_jumble{
        height: 100px;
        width: 50%;
        border-radius: 50px;
        font-size: 50px;
        transition: 0.5s;
        cursor: pointer;
  
        &:hover{
          transform: scale(0.96);
          transition: 0.2s;
          background-color: #00d1b2;
        }
        &:active{
          background: yellow;
          transition: all 0.2s
        }
        &:active:after{
          opacity: 1;
          transition: 0s;
        }
      }
    }
  }
}

.timer_section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e8ed0;
  border-radius: 50px;
  width: 50rem;
  height: 300px;
  display: none;
  
  .timer_container{
   height: 300px;
   width: 50rem;
    #chooseTimer_container{
      display: flex;
      align-items: center;
      height: 100px;

      p{
        margin-left: 20px;
        font-size: 50px;
        font-weight: 900;
      }
    }
  }
  .timebutton_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    
    #five-mins{
      width: 200px;
      height: 100px;
      margin: 20px;
      border-radius: 50px;
      font-size: 30px;
      font-weight: 900;
      cursor: pointer;

      &:hover{
        transform: scale(0.96);
        transition: 0.2s;
        background-color: #00d1b2;
      }
      &:active{
        background: yellow;
        transition: all 0.2s;
      }
      &:active:after{
        opacity: 1;
        transition: 0s;
      }
    }
    #ten-mins{
      width: 200px;
      height: 100px;
      margin: 20px;
      border-radius: 50px;
      font-size: 30px;
      font-weight: 900;

      &:hover{
        transform: scale(0.96);
        transition: 0.2s;
        background-color: #00d1b2;
      }
      &:active{
        background: yellow;
        transition: all 0.2s;
      }
      &:active:after{
        opacity: 1;
        transition: 0s;
      }
    }
    #fifteen-mins{
      width: 200px;
      height: 100px;
      margin: 20px;
      border-radius: 50px;
      font-size: 30px;
      font-weight: 900;

      &:hover{
        transform: scale(0.96);
        transition: 0.2s;
        background-color: #00d1b2;
      }
      &:active{
        background: yellow;
        transition: all 0.2s;
      }
      &:active:after{
        opacity: 1;
        transition: 0s;
      }
    }
  }
}
.game_section{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: 0;
  display: none;//DISPLAY
  
  @keyframes fadeOut{
    0% {opacity: 0.4;}
    25% {opacity: 0.3;}
    50% {opacity: 0.2;}
    75% {opacity: 0.1;}
    100% {opacity: 0;}
  }

  .alert_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 250px;
    width: 50rem;
    height: 80px;
    #GuessTheWord{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 25px;
      width: 50rem;
      height: 30px;
      font-size: 50px;
      font-weight: 600;
    }
    #alert{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      width: 50rem;
      height: 20px;
      bottom: 15px;   
      opacity: 1;
    }
  }
  .timer_container{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 250px;
    height: 100px;
    right: 50px;
    top: 100px;
    background-color: #3e8ed0;
  
    #timer{
      display: flex;
      align-items:center;
      justify-content: center;
      font-size: 50px;
      color: black;
      font-weight: 600;

      @keyframes blinkingBackground{
        0% {color: black;}
        50% {color: red;}
        100% {color: black;}
      }
    }
  }
  .answer_container{
    position: absolute;
    background-color: #3e8ed0 ;
    border-radius: 50px;
    left: 150px;
    height: 40%;
    width: 65%;
    top: 100px;
    
    #answer{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      #ans-a{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #ans-b{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #ans-c{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #ans-d{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #ans-e{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #ans-f{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
    }
  }
  .challenge_container{
    position: absolute;
    background-color: #3e8ed0 ;
    border-radius: 50px;
    left: 150px;
    height: 25%;
    width: 65%;
    bottom: 125px;

    #challenge{
      display:flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      #chg-a{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #chg-b{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #chg-c{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #chg-d{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #chg-e{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
      #chg-f{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 90px;
        background-color: white;
        border-radius: 100px;
        padding: 50px;
        margin: 23px;
        font-size: 50px; 
      }
    }
  }
  .score_container{
    position: absolute;
    background-color: #3e8ed0;
    top: 265px;
    right: 50px;
    width: 250px;
    height: 280px;

    #score{
      position: absolute;
      font-size: 25px;
      width: 250px;
      height: 130px;
      border-bottom: 5px solid black;

      #numOfScore{
        margin-top: 20px;
        font-size: 30px;
      }
      p{
        font-weight: 700;
        color: black;
        display: flex;
        justify-content: center;
      }
    }

    #numberOfGuess{
      position: absolute;
      font-size: 25px;
      top: 148px;
      width: 250px;
      height: 130px;

      #numOfGuess{
        margin-top: 20px;
        font-size: 30px;
      }
      p{
        font-weight: 700;
        color: black;
        display: flex;
        justify-content: center;
      }
    }
  }
  .exitBtn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 200px;
    height: 80px;
  
    #exitBtn{
      font-size: 30px;
      font-weight: 600;
      width: 180px;
      height: 70px;
      border-radius: 50px;
  
      &:hover{
        transform: scale(0.96);
        transition: 0.2s;
        background-color: #00d1b2;
      }
      &:active{
        background: yellow;
        transition: all 0.2s;
      }
      &:active:after{
        opacity: 1;
        transition: 0s;
      }
    }
  }
}
.timeIsUp_container{
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border-radius: 50px;
  top: 130px;
  left: 27rem;
  width: 40rem;
  height: 20rem;
  z-index: 2;

  #timeIsUp{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 100px;
    font-size: 50px;
  }
  #home_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    width: 30rem;
    height: 100px;

    #homeBtn{
      display: none;
      border-radius: 50px;
      width: 250px;
      height: 80px;
      font-size: 30px;
      font-weight: 500;

      &:hover{
        transform: scale(0.96);
        transition: 0.2s;
        background-color: #00d1b2;
      }
      &:active{
        background: yellow;
        transition: all 0.2s;
      }
      &:active:after{
        opacity: 1;
        transition: 0s;
      }
    }
  }
}
